<div id="sectionDisposition" class="card">
    <h3 class="card_header">DISTRIBUTION BY DISPOSITION</h3>
    <div class="card_content-container">
        <div class="card_info">
            <p>Data Source: NEISS All Injury Program operated by the Consumer Product Safety Commission for numbers of
                injuries. Bureau of Census for population estimates.</p>
            <p>Users can filter data by clicking on a chart or by selecting Filters from the Filter Data button when
                using keyboard navigation.</p>
        </div>
        <div class="card_download-container">
            <button class="btn btn-sm downloadData-button" role="button" data-chart="disposition">download data / image</button>
        </div>
        <div class="card_viz-options">
            <div>
                <label for="dispositionDropdown">
                    <h6>Show As:</h6>
                </label>
                <select id="dispositionDropdown">
                    <option value="injuries" selected>Number of Injuries</option>
                    <option value="rate">Crude Rate</option>
                    <option value="ageadj">Age Adjusted Rate</option>
                </select>
            </div>
            <div>
                <label for="dispositionViewOption">
                    <h6>View As:</h6>
                </label>
                <select id="dispositionViewOption">
                    <option value="graphic">Graphic</option>
                    <option value="table">Table</option>
                </select>
            </div>
            <div class="card_submit-container">
                <button id="dispositionSubmitBtn" class="btn btn-sm submit-btn" role="button">submit</button>
            </div>
        </div>
       <div class="card_legend-container" >
            <div class="row">
            <div class= "col-md-6">
            <h6>Legend:</h6>
            <div id="dispositionLegend"></div>
            </div>
            <div class= "col-md-5">
                <h6>Note:</h6>
                <div>
                    <p style="font-size: 14px">The bubble chart is not drawn to scale.</p>
                </div>
                </div>
                </div>
        </div>
    </div>
    <div class="card_viz-container">
        <h3 class="unstable-msg h3-header">*Injury estimate is unstable because of small sample size and/or CV > 30%.
            Use with caution.</h3>
        <div id="chartContainer_disposition" class="card_visual">
            <svg id="dispositionChart" alt="Disposition Chart" tabindex="0" style="width: 80%"></svg>
            <div id="dispositionTable" class="viz-table-view-container displayNone"></div>
        </div>
    </div>
</div>