<form class="boxDiv">
    <legend class="intent-legend">Intent of Injury</legend>
    <fieldset class="cod-results" id="filter-data-all-intents">
                <div class="">
                    <label class="filter-data-intent-label">All Intents</label>
                    <div class="intent-inner-container">
                        <input aria-label="All Intents" class="selectedIntentId" type="checkbox" id="intent-0" name="cod-intent" data-intent-name="All Intents" data-intent-id="0" value="0" tabindex="0" checked="checked">
                        <label for="intent-0">All Intents</label>
                   </div>
                </div>

                <div class="intent-input-container">
                <label class="filter-data-intent-label">Unintentional</label>
                    <div class="intent-inner-container">
                    <input aria-label="All Intents" class="selectedIntentId" type="checkbox" id="intent-1" name="cod-intent" data-intent-name="Unintentional (Includes undetermined)" data-intent-id="1" value="1" tabindex="0">
                    <label for="intent-1">Unintentional (Includes undetermined)</label>
                   </div>
                </div>

                <div class="intent-input-container">
                    <label class="filter-data-intent-label">Violence-related</label>
                    <div class="intent-inner-container">
                        <input  aria-label="Unintentional" class="selectedIntentId" type="checkbox" id="intent-7" name="cod-intent" data-intent-name="Violence-related" data-intent-id="7" value="7" tabindex="0">
                        <label for="intent-7">Violence-related</label>
                    </div>
                    <div class="intent-child-container">
                        <input  aria-label="Violence-related" class="selectedIntentId" type="checkbox" id="intent-3" name="cod-intent" data-intent-name="Assault - All" data-intent-id="3" value="3" tabindex="0">
                        <label for="intent-3">Assault - All</label>
                    </div>
                    <div class="intent-inner-child-container">
                        <input  aria-label="Homicide and Legal Intervention" class="selectedIntentId child-intent" type="checkbox" id="intent-5" name="cod-intent" data-intent-name="Assault - Other and Legal Intervention" data-intent-id="5" value="5" tabindex="0">
                        <label for="intent-5">Assault - Other</label>
                    </div>
                    <div class="intent-inner-child-container">
                        <input  aria-label="Homicide" class="selectedIntentId child-child-intent" type="checkbox" id="intent-4" name="cod-intent" data-intent-name="Assault - Sexual" data-intent-id="4" value="4" tabindex="0">
                        <label for="intent-4">Assault - Sexual</label>
                    </div>
                    <div class="intent-child-container">
                    <input  aria-label="Legal Intervention" class="selectedIntentId child-child-intent" type="checkbox" id="intent-6" name="cod-intent" data-intent-name="Legal Intervention" data-intent-id="6" value="6" tabindex="0">
                    <label for="intent-6">Legal Intervention</label>
                    </div>
                    <div class="intent-child-container">
                    <input  aria-label="Suicide" class="selectedIntentId child-intent" type="checkbox" id="intent-8" name="cod-intent" data-intent-name="Assault and Legal Intervention" data-intent-id="8" value="8" tabindex="0">
                    <label for="intent-8">Assault and Legal Intervention</label>
                    </div>
                    <div class="intent-child-container">
                    <input  aria-label="Undetermined" class="selectedIntentId" type="checkbox" id="intent-2" name="cod-intent" data-intent-name="Self-Harm" data-intent-id="2" value="2" tabindex="0">
                    <label for="intent-2">Self-Harm</label>
                    </div>
                </div>
    </fieldset>
</form>