<form class="boxDiv">
    <legend class="mech-legend">Mechanism of Injury</legend>
    <fieldset class="mech-results" id="filter-data-all-mechs">
                <div class="">
                    <label class="filter-data-mech-label">All Causes</label>
                    <div class="mech-inner-container">
                        <input aria-label="All Causes" class="selectedmech-Id" type="checkbox" id="mech-3000" name="nf-mech" data-mech-name="All Causes" data-mech-id="3000" value="3000" tabindex="0" checked="checked">
                        <label for="mech-3000">All Causes</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Bite</label>
                    <div class="mech-inner-container">
                        <input aria-label="Dog" class="selectedmech-Id" type="checkbox" id="mech-3160" name="nf-mech" data-mech-name="Dog" data-mech-id="3160" value="3160" tabindex="0" >
                         <label for="mech-3160">Dog</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Other, including Sting" class="selectedmech-Id" type="checkbox" id="mech-3170" name="nf-mech" data-mech-name="Other, including Sting" data-mech-id="3170" value="3170" tabindex="0" >
                        <label for="mech-3170">Other, including Sting</label>
                   </div>
                </div>

                 <div class="mech-input-container">
                    <label class="filter-data-mech-label">Cut / Pierce</label>
                   <div class="mech-inner-container">
                        <input aria-label="Cut / Pierce" class="selectedmech-Id" type="checkbox" id="mech-3080" name="nf-mech" data-mech-name="Cut / Pierce" data-mech-id="3080" value="3080" tabindex="0" >
                        <label for="mech-3080">Cut / Pierce</label>
                   </div>
                </div>

                 <div class="mech-input-container">
                    <label class="filter-data-mech-label">Drowning / Submersion</label>
                   <div class="mech-inner-container">
                        <input aria-label="Drowning / Submersion" class="selectedmech-Id" type="checkbox" id="mech-3130" name="nf-mech" data-mech-name="Drowning / Submersion" data-mech-id="3130" value="3130" tabindex="0" >
                        <label for="mech-3130">Drowning / Submersion</label>
                   </div>
                </div>

                 <div class="mech-input-container">
                    <label class="filter-data-mech-label">Fall</label>
                   <div class="mech-inner-container">
                        <input aria-label="Fall" class="selectedmech-Id" type="checkbox" id="mech-3060" name="nf-mech" data-mech-name="Fall" data-mech-id="3060" value="3060" tabindex="0" >
                        <label for="mech-3060">Fall</label>
                   </div>
                </div>

                  <div class="mech-input-container">
                    <label class="filter-data-mech-label">Fire / Burn</label>
                   <div class="mech-inner-container">
                        <input aria-label="Fire / Burn" class="selectedmech-Id" type="checkbox" id="mech-3100" name="nf-mech" data-mech-name="Fire / Burn" data-mech-id="3100" value="3100" tabindex="0" >
                        <label for="mech-3100">Fire / Burn</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Foreign Body</label>
                   <div class="mech-inner-container">
                        <input aria-label="Foreign Body" class="selectedmech-Id" type="checkbox" id="mech-3150" name="nf-mech" data-mech-name="Foreign Body" data-mech-id="3150" value="3150" tabindex="0" >
                        <label for="mech-3150">Foreign Body</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Gunshot</label>
                    <div class="mech-inner-container">
                        <input aria-label="BB / Pellet Gun" class="selectedmech-Id" type="checkbox" id="mech-3190" name="nf-mech" data-mech-name="BB / Pellet Gun" data-mech-id="3190" value="3190" tabindex="0" >
                         <label for="mech-3190">BB / Pellet Gun</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Firearm" class="selectedmech-Id" type="checkbox" id="mech-3180" name="nf-mech" data-mech-name="Firearm" data-mech-id="3180" value="3180" tabindex="0" >
                        <label for="mech-3180">Firearm</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Inhalation / Suffocation</label>
                   <div class="mech-inner-container">
                        <input aria-label="Inhalation / Suffocation" class="selectedmech-Id" type="checkbox" id="mech-3120" name="nf-mech" data-mech-name="Inhalation / Suffocation" data-mech-id="3120" value="3120" tabindex="0" >
                        <label for="mech-3120">Inhalation / Suffocation</label>
                   </div>
                </div>

                 <div class="mech-input-container">
                    <label class="filter-data-mech-label">Machinery</label>
                   <div class="mech-inner-container">
                        <input aria-label="Machinery" class="selectedmech-Id" type="checkbox" id="mech-3140" name="nf-mech" data-mech-name="Machinery" data-mech-id="3140" value="3140" tabindex="0" >
                        <label for="mech-3140">Machinery</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Natural / Environment</label>
                   <div class="mech-inner-container">
                        <input aria-label="Natural / Environment" class="selectedmech-Id" type="checkbox" id="mech-3200" name="nf-mech" data-mech-name="Natural / Environment" data-mech-id="3200" value="3200" tabindex="0" >
                        <label for="mech-3200">Natural / Environment</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Overexertion</label>
                   <div class="mech-inner-container">
                        <input aria-label="Overexertion" class="selectedmech-Id" type="checkbox" id="mech-3090" name="nf-mech" data-mech-name="Overexertion" data-mech-id="3090" value="3090" tabindex="0" >
                        <label for="mech-3090">Overexertion</label>
                   </div>
                </div>

                <div class="mech-input-container">
                    <label class="filter-data-mech-label">Poisoning</label>
                   <div class="mech-inner-container">
                        <input aria-label="Poisoning" class="selectedmech-Id" type="checkbox" id="mech-3110" name="nf-mech" data-mech-name="Poisoning" data-mech-id="3110" value="3110" tabindex="0" >
                        <label for="mech-3110">Poisoning</label>
                   </div>
                </div>

                 <div class="mech-input-container">
                    <label class="filter-data-mech-label">Struck by /Against</label>
                   <div class="mech-inner-container">
                        <input aria-label="Struck by /Against" class="selectedmech-Id" type="checkbox" id="mech-3070" name="nf-mech" data-mech-name="Struck by /Against" data-mech-id="3070" value="3070" tabindex="0" >
                        <label for="mech-3070">Struck by /Against</label>
                   </div>
                </div>

                 <div class="mech-input-container">
                    <label class="filter-data-mech-label">Transportation</label>
                    <div class="mech-inner-container">
                        <input aria-label="All Transportation" class="selectedmech-Id transportation-Id" type="checkbox" id="mech-3001" name="nf-mech" data-transportation="transportation" data-mech-name="All Transportation" data-mech-id="3001" value="3001" tabindex="0" >
                         <label for="mech-3001">All Transportation</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Motor Vehicle Occupant" class="selectedmech-Id transportation-Id" type="checkbox" id="mech-3010" name="nf-mech" data-transportation="transportation" data-mech-name="Motor Vehicle Occupant" data-mech-id="3010" value="3010" tabindex="0" >
                        <label for="mech-3010">Motor Vehicle Occupant</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Motorcyclist" class="selectedmech-Id transportation-Id" type="checkbox" id="mech-3020" name="nf-mech" data-mech-name="Motorcyclist" data-transportation="transportation" data-mech-id="3020" value="3020" tabindex="0" >
                        <label for="mech-3020">Motorcyclist</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Pedal cyclist (bicycle, etc.)" class="selectedmech-Id transportation-Id" type="checkbox" id="mech-3030" name="nf-mech" data-transportation="transportation" data-mech-name="Pedal cyclist (bicycle, etc.)" data-mech-id="3030" value="3030" tabindex="0" >
                        <label for="mech-3030">Pedal cyclist (bicycle, etc.)</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Pedestrian" class="selectedmech-Id transportation-Id" type="checkbox" id="mech-3040" name="nf-mech" data-mech-name="Pedestrian" data-transportation="transportation" data-mech-id="3040" value="3040" tabindex="0" >
                        <label for="mech-3040">Pedestrian</label>
                   </div>
                   <div class="mech-inner-container">
                        <input aria-label="Other" class="selectedmech-Id transportation-Id" type="checkbox" id="mech-3050" name="nf-mech" data-mech-name="Other" data-transportation="transportation" data-mech-id="3050" value="3050" tabindex="0" >
                        <label for="mech-3050">Other</label>
                   </div>
                </div>

                  <div class="mech-input-container">
                    <label class="filter-data-mech-label">Other Specified</label>
                   <div class="mech-inner-container">
                        <input aria-label="Other Specified" class="selectedmech-Id" type="checkbox" id="mech-3880" name="nf-mech" data-mech-name="Other Specified" data-mech-id="3880" value="3880" tabindex="0" >
                        <label for="mech-3880">Other Specified</label>
                   </div>
                </div>

                  <div class="mech-input-container">
                    <label class="filter-data-mech-label">Unknown / Specified</label>
                   <div class="mech-inner-container">
                        <input aria-label="Unknown / Specified" class="selectedmech-Id" type="checkbox" id="mech-3990" name="nf-mech" data-mech-name="Unknown / Specified" data-mech-id="3990" value="3990" tabindex="0" >
                        <label for="mech-3990">Unknown / Specified</label>
                   </div>
                </div>
    </fieldset>
</form>