<form class="boxDiv">
    <legend class="mech-legend">Sex </legend>
    <fieldset class="mech-results">
                <div class="">
                    <div class="mech-inner-container">
                        <input aria-label="All Possibilities"  class="" type="checkbox" id="sex-0" data-sex-value="Both Sexes" name="nf-sex" data-sex-name="Select All Sex" data-sex-id="0" value="0" tabindex="0" >
                        <label for="sex-0">Both Sexes</label>
                   </div>
                    <div class="mech-inner-container">
                        <input aria-label="Males" class="selectedSex-Id" type="checkbox" id="sex-1" data-sex-value="Males" name="nf-sex" data-sex-name="Males" data-sex-id="1" value="1" tabindex="0" >
                        <label for="sex-1">Males</label>
                   </div>
                    <div class="mech-inner-container">
                        <input aria-label="Females" class="selectedSex-Id" type="checkbox" id="sex-2" data-sex-value="Females" name="nf-sex" data-sex-name="Females" data-sex-id="2" value="2" tabindex="0" >
                        <label for="sex-2">Females</label>
                   </div>
                    <div class="mech-inner-container">
                        <input aria-label="Unknown" class="selectedSex-Id" type="checkbox" id="sex-3" data-sex-value="Unknown" name="nf-sex" data-sex-name="Unknown" data-sex-id="3" value="3" tabindex="0">
                        <label for="sex-3">Unknown</label>
                   </div>
                </div>
    </fieldset>
</form>