<form class="boxDiv">
    <legend class="mech-legend">For Transportation-Related Injuries </legend>
    <fieldset class="mech-results" id="filter-data-transportation-traffic">
        <div class="filter-data-text-container">
            <h4>Did the injury occur on a public road or highway (was it traffic-related?)</h4>
        </div>
                <div class="">
                    <label class="filter-data-mech-label">Make a Selection:</label>
                    <div class="mech-inner-container">
                        <input aria-label="All Possibilities" class="selectedTransTraffic-Id" type="checkbox" id="traffic-0" name="nf-traffic-related" data-traffic-name="All Possibilities" data-traffic-id="0" value="0" tabindex="0" checked="checked">
                        <label for="traffic-0">All Possibilities</label>
                   </div>
                    <div class="mech-inner-container">
                        <input aria-label="Yes" class="selectedTransTraffic-Id" type="checkbox" id="traffic-2" name="nf-traffic-related" data-traffic-name="Yes" data-traffic-id="2" value="2" tabindex="0" >
                        <label for="traffic-2">Yes</label>
                   </div>
                    <div class="mech-inner-container">
                        <input aria-label="No" class="selectedTransTraffic-Id" type="checkbox" id="traffic-6" name="nf-traffic-related" data-traffic-name="No" data-traffic-id="6" value="6" tabindex="0" >
                        <label for="traffic-6">No</label>
                   </div>
                    <div class="mech-inner-container">
                        <input aria-label="Unknown" class="selectedTransTraffic-Id" type="checkbox" id="traffic-8" name="nf-traffic-related" data-traffic-name="Unknown" data-traffic-id="8" value="8" tabindex="0">
                        <label for="traffic-8">Unknown</label>
                   </div>
                </div>
    </fieldset>
</form>