<div id="sectionAge" class="card">
    <h3 class="card_header">DISTRIBUTION BY AGE</h3>
    <div class="card_content-container">
        <div class="card_info">
            <p>Data Source: NEISS All Injury Program operated by the Consumer Product Safety Commission for numbers of
                injuries. Bureau of Census for population estimates.</p>
            <p>Users can filter data by clicking on a chart or by selecting Filters from the Filter Data button when
                using keyboard navigation.</p>
        </div>
        <div class="card_download-container">
            <button class="btn btn-sm downloadData-button" role="button" data-chart="ageBar">download data / image</button>
        </div>
        <div class="card_viz-options">
            <div>
                <label for="ageDropdown">
                    <h6>Show As:</h6>
                </label>
                <select id="ageDropdown">
                    <option value="injuries" selected>Number of Injuries</option>
                    <option value="rate">Crude Rate</option>
                </select>
            </div>
            <div>
                <label for="ageViewOption">
                    <h6>View As:</h6>
                </label>
                <select id="ageViewOption">
                    <option value="graphic">Graphic</option>
                    <option value="table">Table</option>
                </select>
            </div>

            <div class="card_radio-wrapper">
                <div class="age-checkbox">
                    <input type="checkbox" name="checkbox" id="chkAgeSex" value="value">
                    <label for="chkAgeSex">Show Breakdown by Sex</label>
                </div>
                <div class="card_submit-container">
                    <button id="ageSubmitBtn" class="btn btn-sm submit-btn" role="button">submit</button>
                </div>
            </div>
        </div>
        <div class="card_legend-container">
            <h6>Legend:</h6>
            <div id="ageBarLegend"></div>
        </div>
    </div>
    <div class="card_viz-container">
        {{!-- <h4 class="suppresion-msg">** indicates Unstable values (10 to 20 deaths), -- indicates Suppressed values
            (9 or fewer)</h4> --}}
        <div id="chartContainer_age" class="card_visual">
            <h3 class="unstable-msg h3-header">*Injury estimate is unstable because of small sample size and/or CV >
                30%. Use with caution.</h3>
            <svg id="ageBar" alt="age Bar Chart" tabindex="0" style="width: 80%"></svg>
            <div id="ageTable" class="viz-table-view-container displayNone"></div>
        </div>
    </div>
</div>