

<div style="float:left">
    <button class="tab-nav-button active-tab-nav-button" style="font-size: 12.8px;" id="selected-years-tab" data-tab-id="SelectedYears"> SELECTED YEARS</button>
    <button class="tab-nav-button" style="font-size: 12.8px;" id="trends-tab" data-tab-id="Trends"> TRENDS </button>
</div>

<div style="float:right">
<label for="yr_select_first" class="submit-years">Year From:</label>
<select id="yr_select_first" class="submit-years">
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
</select>
<label for="yr_select_second" class="submit-years">To:</label>
<select id="yr_select_second" class="submit-years">
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
</select>
<input class="btn-submit-years" id="selectYearsSubmitBtn" type="submit" value="SUBMIT YEAR SELECTION">
</div>

