{{#each legends}}
<div class="legend-option inline" data-map-legend-name="{{name}}" data-map-legend-palette="{{palette}}">
    <div class="legend-color-box" style="background-color:{{color}}"></div>
    <div class="legend-value">{{name}}</div>
</div>
{{/each}}