<div id="landing-page-container">
    <header class="landing-page-header">
        <div class="container landing-container">
            <div class="intro center-content">
                <div class="row landing-options-container">
                    <div class="col-md-12" id="rollupDiv" style="padding: 10px; background-color: rgba(255,255,255, 0.65) !important">
                        <div class="col-xs-12"></div>
                        <div class="col-xs-12"><img class="landing-page_cdc-logo" src="{{virtualPath}}/client/assets/images/cdc-logo.png"
                                alt="CDC"></div>
                        <div class="col-xs-12"></div>
                        <div class="col-xs-12">
                            <p class="text-center landing-page_dropdowns-container">WISQARS Nonfatal provides data from
                                the National Electronic Injury Surveillance System-All Injury Program (NEISS-AIP). This
                                data is intended for a broad audience–the public, the media, public health
                                practitioners and researchers, and public health officials–to increase their knowledge
                                of nonfatal injury. The NEISS-AIP data provides information about what types of
                                nonfatal injuries occur in U.S. hospital emergency departments, how common they are,
                                who they affect, and what causes them. In addition, the NEISS-AIP data help federal,
                                state, and local public health officials to </p>
                            <div style="text-align: left; padding: 10px 25% 2% 25%;">
                                <ul>
                                    <li>characterize and monitor trends in non-fatal injuries,</li>
                                    <li>identify emerging injury problems,</li>
                                    <li>persons at risk, and</li>
                                    <li>provide reliable surveillance data for program and policy decisions</li>

                                </ul>
                                <p>Learn more about WISQARS Nonfatal data.
                                    <a href="https://www.cdc.gov/injury/wisqars/nonfatal_help/data_sources.html">WISQARS
                                        Nonfatal data</a>.</p>
                            </div>
                            Select the year range below to start exploring
                            <div class="col-xs-12">
                                <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-12 landing-page_year-dropdown">
                                    <label for="year_select_first_landing">From</label>
                                    <select class="form-control" id="year_select_first_landing">
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 landing-page_year-dropdown">
                                    <label for="year_select_second_landing">To</label>
                                    <select class="form-control" id="year_select_second_landing">
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                    </select>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <div class="col-xs-12 marginTop30 landing-page-exp-btn">
                                <a href="/non-fatal" tabindex="0" id="exploreDataBtn" data-navigo>
                                    <button class="btn btn-lg btn-secondary" id="non-fatal-explore">Explore Nonfatal
                                        Data</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>