<div class="footer-container">
    <div class="footer-wrapper">
        <div class="footer-logo">
            <img class="footer-cdc-logo" src="{{virtualPath}}client/assets/images/CDC-Logo-Large.svg" alt="CDC Logo" />
        </div>
        <div class="footer-links-container">
            <div class="footer-link">
                <a target="_blank" href="https://www.cdc.gov/">
                    <h4>HOME</h4>
                </a>
            </div>
            <div class="footer-link">
                <a target="_blank" href="https://www.cdc.gov/about/default.htm">
                    <h4>ABOUT CDC</h4>
                </a>
            </div>
            <div class="footer-link">
                <a target="_blank" href="https://jobs.cdc.gov/">
                    <h4>JOBS</h4>
                </a>
            </div>
            <div class="footer-link">
                <a target="_blank" href="https://www.cdc.gov/funding/">
                    <h4>FUNDING</h4>
                </a>
            </div>
            <div class="footer-link">
                <a target="_blank" href="https://www.cdc.gov/Other/policies.html">
                    <h4>POLICIES</h4>
                </a>
            </div>
            <div class="footer-link">
                <a target="_blank" href="https://www.cdc.gov/Other/privacy.html">
                    <h4>PRIVACY</h4>
                </a>
            </div>
        </div>
        <div class="footer-contact">
            <h4>1600 CLIFTON ROAD ATLANTA, GA</h4>
            <h4>30329-4037 USA</h4>
            <h4>800-CDC-INFO (800-232-4636), TTY:</h4>
            <h4>888-232-6348Y</h4>
            <h4>EMAIL CDC-INFO</h4>
        </div>
    </div>
</div>