// ************************************ //
// *****                          ***** //
// *****   APPLICATION COLORS     ***** //
// *****                          ***** //
// ************************************ //

$deloitte-green: #9BCD00;

// ***** Main Color Palette ***** //
$white: #fff;
$black: #000;
$gray: #333;
$cdc-blue: #075FA9;
$background: #D8D8D8;
$light-gray: #c4c4c4;
$main: #E5E5E5;
$card: #F4F4F4;
$red: #c00;
$main-blue: #33435C;
$main-green: #16A085;
$main-light-blue: #88BCD8;
$main-purple: #674172;
$main-light-green: #C6CC8B;
$main-grey: #878787;
$main-pink: #E08283;
$background-main: $white;
$green: green;
$orange: orange;


// Heat Map Color Palette
$heat-green: #CBDAA3;
$heat-yellow-light: #FBF19E;
$heat-yellow-dark: #F1D887;
$heat-orange-light: #DDA067;
$heat-orange-dark: #CB6D4F;
$heat-red-light: #AD1726;
$heat-red-dark: #640000;

// Greys
$grey-text: #333333;
$grey-light: #C4C4C4;
$grey-background-light: #E5E5E5;
$grey-background-dark: #D8D8D8;
$grey-cards: #F4F4F4;
