<div class="breadcrumb-item-no-shadow breadcrumb-item-default-no-shadow" tabindex="0">
    <span class="boldcrumb">Year Range:</span>
    <span class="breadcrumb-content">{{years.start_year}} - {{years.end_year}}</span>
</div>